<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="full-screen">
  <div class="form">
    <p class="paragraph">Register Here</p>
    <form action="/register" method="post">
      <input type="text" class="email-field" placeholder="Enter your email" name="email">
      <input type="text" class="username-field" placeholder="Set your username" name="username">
      <input type="password" class="password-field" placeholder="Set your password" name="password">
      <input type="number" class="number-field" placeholder="Enter your Mobile number" name="number">
      <input type="submit" class="submit-btn">
    </form>
    <button class="clear-btn"><a href="#" class="btn-action">Clear</a></button>
  </div>
</div>
</body>
</html>